{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block body %}
<h2>Statistic: <small>{{ chosen_date|date:"M, Y" }}</small></h2>

<div class="mt-4 ct-chart ct-golden-section" id="chart1"></div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item {% if not previous_month %}disabled{% endif %}">
      <a class="page-link" href="{% if previous_month %}{% url "core:action-month" pk=pk year=previous_month.year month=previous_month.month %}{% endif %}">Previous</a>
    </li>
    <li class="page-item {% if not next_month %}disabled{% endif %}">
      <a class="page-link" href="{% if next_month %}{% url "core:action-month" pk=pk year=next_month.year month=next_month.month %}{% endif %}">Next</a>
    </li>
  </ul>
</nav>

{% endblock %}

{% block script %}
<script>
var data = {
  labels: [{% for i in monthrange %}{{i}}, {% endfor %}],
  series: [
    {{list}}
  ]
}

var options = {
  low: 0,
  axisX: {
    showGrid: false,
    onlyInteger: true,
  },
  axisY: {
    scaleMinSpace: 50,
  }
}

var responsiveOptions = [
  ['screen and (min-width: 641px) and (max-width: 1024px)', {
    seriesBarDistance: 10,
    axisX: {
      labelInterpolationFnc: function (value) {
        return value;
      }
    }
  }],
  ['screen and (max-width: 770px)', {
    seriesBarDistance: 5,
    axisX: {
      labelInterpolationFnc: function (value) {
        return value[0];
      }
    }
  }]
]

new Chartist.Bar('.ct-chart', data, options, responsiveOptions);
</script>
{% endblock %}
