{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Dashboard - {{ block.super }}{% endblock %}
{% block body %}
<h2>Dashboard</h2>
<form action="{% url 'core:dashboard' %}" method="GET">
  {{ form | crispy }}
</form>
{% if object_list %}
<div class="row mt-4">
  {% for action in object_list %}
  <div class="card text-white card-{{ action.get_color_display }} col-sm-4 col-md-3 col-lg-2 mb-4 mr-2 ml-2">
    <div class="card-body">
      <h4 class="card-title">{{ action.text }}</h4>
      <p class="card-text">
      {{ action.record_sum }}  {{ action.unit }}
      </p>
      <div class="row">
        <a href="{% url "core:action-update" pk=action.id %}">
          <span class="octicon octicon-gear"></span>
        </a>
        <a href="{% url "core:action-current-month" pk=action.id %}">
          <span class="octicon octicon-graph"></span>
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<h3 class="mt-4">Your dashboard is empty</h3>
{% endif %}
{% endblock %}
