{% extends "base.html" %}

{% block title %} Dashboard - {{ block.super }}{% endblock %}

{% block body %}
{% if object_list %}
<h2>Dashboard</h2>
<div class="row">
  {% for action in object_list %}
  <div class="card text-white card-{{ action.get_color_display }} col-sm-4 col-md-3 col-lg-2 mb-4 mr-2 ml-2">
    <div class="card-body">
      <h4 class="card-title">{{ action.text }}</h4>
      <p class="card-text">
      {{ action.record_sum }}  {{ action.unit }}
      </p>
      <div class="row">
        <a href="{% url "core:action-update" pk=action.id %}">
          <span class="octicon octicon-gear"></span>
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<h3>Your dashboard is empty</h3>
{% endif %}
{% endblock %}
