a > .octicon {
  color: #fff;
}
.card-body > .row {
  margin-right: 0px;
  margin-left:0px;
}
.card-body > .row > a {
  margin-right: 10px;
}
@media only screen and (min-width: 990px) {
    .ct-golden-section {
      max-width: 60%;
      margin: 0 auto;
    }
}
/*
 * I took the colors on this site:
 * https://flatuicolors.com/palette/cn
 */
.card-orange {background-color: #ffa502 !important; border-color: #ffa502 !important;}
.card-red-orange {background-color: #ff6348 !important; border-color: #ff6348 !important;}
.card-radical-red {background-color: #ff4757 !important; border-color: #ff4757 !important;}
.card-gray {background-color: #747d8c !important; border-color: #747d8c !important;}
.card-green {background-color: #2ed573 !important; border-color: #2ed573 !important;}
.card-blue {background-color: #1e90ff !important; border-color: #1e90ff !important;}
.card-purple {background-color: #3742fa !important; border-color: #3742fa !important;}
